* {
	margin: 0; 
	padding: 0;
	font-family: Helvetica;
}

body {
  background-image: url('../images/fondo.png');
  background-repeat: repeat;
}

.fondo {
	width: 90%;
	position: relative;
	margin: auto;
}

.centro{  
       background-color: #94645A;	
		margin: auto;
		top: 15%;
		right: 15%;
		bottom: 0;
		left: 15%; 
		position: absolute;
		z-index: -1;
		height: 115%;
		opacity: 0.7;
}

footer{
	width: 60%;
	background-color: #EA9B11; 
}


nav {
	width: 70%;
	background-color: #94645A;
	margin: auto;
}
	nav ul{
		list-style: none;
		padding: 5px 0;
		text-align: center;
		width: 100%;
	}
	nav ul li{
			color:#F8DB98;
			display: inline-block;
			margin:0 8px;
			padding: 0 5px;
	}
			

header {
	background-color: #F8DB98;
	padding: 5px;
	width: 100%;
	height: 140px;	
	box-shadow:10px 10px 19px #9B5018;
    opacity: 0.8;
}

#logo {
		display: inline-block;
		vertical-align: middle;
		width: 13%;
		margin-left: 440px;
	}
	
h1 {
		color: #632F44;
		display: inline-block;
		font-size: 60px;
		font-weight: bold;
	}

h2{
		color: #752F23;
		display: inline-block;
		font-size: 24px;
		font-weight: bold;
		margin-top: 20px;
		margin-left: -130px;
	}

h3{
		color: #4A007D;
		margin-left: 680px; 
		margin-top: -40px;
		font-size: 20px;
		font-weight: bold;
		padding-right: 40px;
	}


article { 
		background-color: #F8DB98;	
		margin: 10px auto 50px; 
		padding: 5px;
		position: relative;
		width: 80%;
		height: 35%;
		box-shadow:10px 10px 19px #9B5018;		
  	}

  .minifooter{
  	width: 101%;
  	height: 20%;
  	background-color: #752F23;
  	margin-top: 22px;
  	margin-left: -5px;
  }

.foto_Usuario { 
			display: inline-block;
			height: auto;
			vertical-align: top;
			width: 30%;
			margin-left: 15px;
			margin-top: 15px;
		}

.cont {
			display: inline-block;
			width: 68%;			
		}

.parrafo{
	        margin-top: 20px;
			color: #4A007D;
			margin-left: -130px;
			padding-right: 40px;
		}

		.cosito{
			margin-left: 935px;
			margin-top: -80px;
		}

		.footer{
			background-color: #EA9B11;
			width: 80%;
		height: 10%;
		margin-top: 0px;	
		z-index: -1;
		}
		